body{
    background-color: #030b2a;
}

h1{ 
    color: #95FF2B;
    font-family: "Rampart One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
}

#tall{
    height: 500px;
}

@media (max-width: 500px) {
    h1{
        font-size: 3rem;
    }
}